services:
  db:
    image: postgres
    environment: 
      POSTGRES_PASSWORD: "Password@1"
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"